.dog-profile .card .card-header .dog_img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 10px auto;
    border: 8px solid #ccc;
    border-radius: 50%;
}
  
.card {
    margin-bottom: 20px;
}



