.parent {
    display: grid;
    column-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

/* .child-div {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}  */